.section_potential{
    width: 100%;
    height: 100%;

    margin-top: 2rem;

    background-color: var(--colorPrimary);
    padding: 1rem;

    border-radius: 10px;

    text-align: center;
}

.section_potential > p {
    margin-top: 0.8rem;
    color: var(--colorText);
}

.section_potential > div {
    margin-top: 2.5rem;
}

.section_potential > div button {
    width: 120px;
    height: 50px;
}

.section_potential > div button:hover {
    background-color: var(--hoverSecundary);
}