header {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1rem 0 1rem;
}

header picture {
  width: 107px;
  height: 55px;

  border: none;
}

header img {
  border-radius: 0;
}

.nav_section {
  position: absolute;
  top: 0;
  right: 0;

  height: 50%;

  margin-top: 1rem;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;

  background-color: var(--colorIcons);
  border-radius: 10px 0 0 10px;

  transition: linear 0.5s;

}

.nav_header > ul {

  position: relative;

  width: 100%;
  height: 100%;

  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav_header > ul > li > a{
  color: var(--colorText);
  font-size: var(--fontSubtitleSm);
}

.box_header_buttons {
  justify-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box_header_buttons > button ~ button {
  border: solid 1px white;
}

.icon_menu {
  color: white;
  font-size: 2rem;
}


@media (min-width: 768px) {
  header {
    margin-top: 2.2rem;
  }

  header picture {
    width: max-content;
    height: max-content;
  
    border: none;
  }

  .nav_section {
    height: 100%;
    position: static;

    margin-top: 0;

    visibility: visible;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
  }

  .nav_header > ul {
    margin-top: 0;
    flex-direction: row;
  }

  .nav_header a {
    font-size: 1.2rem;
  }

  .icon_menu {
    display: none;
  }

  .closeButton{
    display: none;
  }
}

@media(min-width:1440px){
  .nav_header > ul {
    gap: 4rem;
  }
}
